* {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}

.title {
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: 2px;
}

.fundo {
    background-image: linear-gradient(45deg, #192A51, #967AA1);
    height: 100vh;
    color: #fff;
    text-align: center;
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    font-weight: normal;
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 3px;
    border-radius: 6px;
}

.botao:hover {
    background-color: #967AA1;
}

#resultado {
    background-color: #fff;
    height: 50px;
    max-width: 224px;
    margin: 5px 5px 3px 5.2px;
    font-size: 30px;
    color: #000;
    display: grid;
    align-items: center;
    text-align: right;
    border-radius: 6px;

    overflow-x: auto;
}

.botao-zero {
    width: 108px;
}

.botao-mais {
    height: 108px;
    background-color: #192A51;
}

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 820px) {
    .botao:hover {
        background-color: black;
    }

    .botao-mais:hover {
        background-color: #192A51;
    }
}